PROJECT_NAME="Assignment 3 Backend"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Postgres Database
POSTGRES_USER=appuser
POSTGRES_PASSWORD=apppass
POSTGRES_DB=appdb
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

# Label Studio
LABEL_STUDIO_URL=http://localhost:8080
LABEL_STUDIO_API_KEY=
